.git
.github
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.yml
docker-compose.prod.yml
Dockerfile.dev
docker/staging
*.md
!README.md
.editorconfig
.gitattributes
phpunit.xml
